<a class="btn btn-default" href="<%= new_user_path %>" role="button">New user</a>
<%= link_to "Users", users_path, class: "btn btn-default" %>
<%= link_to "All posts", posts_path, class: "btn btn-default" %>
<%= link_to "New post", new_post_path, class: "btn btn-default" %>