<div class="panel panel-primary">
  
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.to_s %></h3>
  </div>
  
  <div class="panel-body">
    <%= @user.credentials %>
  </div>
  
</div>

