<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.to_s %></h3>
  </div>
  <div class="panel-body">
    
    <%= @user.credentials %>
  </div>
</div>

<nav>
  <ul class="pager">
    <li><%= link_to "Back", posts_path %></li>
    <li><%= link_to "Edit", edit_post_path %></li>
  </ul>
</nav>